@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.navSection
{
  border : 1px solid black;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0px 20px;
  font-size: medium;
  background-color: blue;
}
.sidebarsection{
  border:1px solid rgb(71, 61, 61);
  width:100%;
  max-width: 20%;
  height:90vh;
  padding: 10px;
  background-color: lightgray;
}
.sidebarsection ul li{
  list-style: none;
  margin-bottom: 20%;
  font-weight: 500;

  cursor: pointer;
}
.registerSection{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.collections{
  display: flex;

}
/* .Loginpage */
.LoginSection{

width:100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}


.authform{
  width:100%;
  max-width:50%;
  border: 1px solid grey;
  margin-top: -240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2%;
}
.authform input{
  width:100%;
  max-width: 55%;
  height: 1.4rem;
  margin-bottom:10px;
  margin-top: 5px;
}

.btnSubmit{
  margin: 10px;
}
.authform label{
  width:100%;
  max-width: 55%;
  font-weight: 400;
}

/* firm  */
.firmSection{
    width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tableform{
  width:100%;
  max-width:50%;
  border: 1px solid grey;
  margin-top: -80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2%;
  margin-top: 10px;
}
.tableform input{
  width:100%;
  max-width: 85%;
  height: 1.4rem;
  margin-bottom:10px;
  margin-top: 5px;
  height: 35px;
}
.tableform label{
  width:100%;
  max-width: 85%;
  font-weight: 400;
  margin-top:10px;
}

/* addproducts */
.addproductSection{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.check-inp  {
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
  max-width: 85%;
  margin-bottom: 20px;
}

.inputscontainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  margin-top: 5px;
  border: 1px solid grey;
  padding: 10px;
  border-radius: 5px;
}

.checkboxcontainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkboxcontainer input {
  width: 18px;
  height: 18px;
}

.checkboxcontainer label {
  font-size: 0.9rem;
  font-weight: 500;
}

.radio-inp{
  
  width:100%;
  max-width:85%;
}
.radiocontainer {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  border: 1px solid grey;
  padding: 10px;
  align-items: center;
}
.radiobtn{
  display: flex;
  align-items: center;
}
.radiobtn label {
  margin-right: 5px; /* Small gap between label and radio button */
}
.radiobtn input {
  width: 16px;
  height: 16px;
  margin: 0;
}

/* css for all products */
.aptable {
 
 
}

thead {
  background-color: #df0e0e;
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
}

tr:hover {
  background-color: #f1f1f1;
}

img {
  max-width: 100px;
  height: auto;
  border-radius: 8px;
}


